td, th {
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
}
th {
    padding-bottom: 10px;
}
td {
    padding-bottom: 5px;
}
.col-custom-offset {
    margin-left: 12.5%;
}
.col-custom {
    width: 75.0%;
}
#output {
    background: white;
    color: black;
    border: 1px solid;
}
